In [3]:
import pandas as pd
import numpy as np

In [4]:
Personal_pre=pd.read_csv('/Users/humphreyshen/Desktop/2021 Database Project/001總表最新資料/2021-12-29-updated_csv/dDt_alumnidb_personal .csv')
Personal_pre.head()

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
0,1,殷葦婷,NaN,NaN,NaN,NaN,13816630288@163.con,20,CN,20,NaN,中國大陸上海市長寧區香花橋路38弄7號401室,NaN,13816630288,NaN,NaN,1,NaN
1,2,郭敬子,NaN,1.0,NaN,NaN,jimkuo49@gmail.com,200,TW,C,仁愛區,基隆市仁愛區愛七路53號3樓,918136219,NaN,NaN,NaN,1,important
2,3,陳仕俍,NaN,NaN,NaN,NaN,gelintex@ms27.hinet.net,205,TW,C,暖暖區,基隆市暖暖區暖碇路169號11樓,920521092,02-24573016,NaN,NaN,1,important
3,4,郭珈郗,NaN,NaN,NaN,NaN,grcekwk@gmail.com,NaN,HK,NaN,NaN,香港九龍官塘順安村安群樓514室,NaN,(+852)35929419,NaN,NaN,0,NaN
4,5,陸大文,NaN,1.0,1954-05-26,NaN,kathyhung168@gmail.com,105,TW,A,松山區,台北市松山區復興北路99號3樓,918511513,02-25478801,A101653944\r,NaN,1,important

In [5]:
Personal_pre.count()

id           118392
zh_name      118390
en_name       23587
gender         1339
birthday      27053
age              19
email         30057
zip_code     114704
region       116512
county       114897
district     112420
address      115864
cell          28157
tele          13103
id_num          579
last_edit     11049
bye          118392
note           7140
dtype: int64

In [6]:
Personal_birthday=Personal_pre.dropna(subset=['birthday'])
Personal_birthday

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
4,5,陸大文,NaN,1.0,1954-05-26,NaN,kathyhung168@gmail.com,105,TW,A,松山區,台北市松山區復興北路99號3樓,918511513,02-25478801,A101653944\r,NaN,1,important
5,6,鄧淑珠,NaN,NaN,1962-05-10,NaN,terideng@scu.edu.tw,﻿100,TW,A,中正區,台北市中正區貴陽街一段56號東吳大學會計辦公室,918868586,NaN,A221625395,NaN,1,important
7,8,劉?偉,NaN,1.0,1955-08-17,NaN,tonyrush54@hotmail.com,106,TW,A,大安區,台北市大安區光武里大安路1段19巷33號2樓,933573363,NaN,A111033365,NaN,1,NaN
16,17,孫衡,NaN,0.0,1988-06-17,NaN,nadja_chen@yahoo.com.tw,105,TW,A,松山區,台北市松山區復興北路427巷25號6樓之3,0932-014-999,NaN,H221394347,NaN,1,important
17,18,姜延霖,NaN,NaN,1982-03-26,NaN,hokkaido_ariea@yahoo.com.tw,114,TW,A,內湖區,台北市內湖區紫陽里文德路210巷30弄57號5樓,919384748,NaN,A126249268,NaN,1,important
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117815,117831,徐寶華,NaN,0.0,1957-10-10,NaN,tony_ub@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,937423570,NaN,E202144315,0000-00-00 00:00:00.000000,1,important
117816,117832,張源鈺,NaN,1.0,1983-01-18,NaN,chefon23@gmail.com,NaN,NaN,NaN,NaN,NaN,975032174,NaN,L123577611,0000-00-00 00:00:00.000000,1,important
117817,117833,張俊林,NaN,NaN,1986-02-13,NaN,blackchon@gmail.com,NaN,MO,澳門,NaN,澳門,+853 62939138,NaN,MA0296808,0000-00-00 00:00:00.000000,1,important
117818,117834,吳羽柔,NaN,0.0,1988-03-05,NaN,skfbl35@gmail.com,111,TW,A,士林區,台北市士林區臨溪路70號東吳大學兩岸事務中心,933397762,NaN,D222332650,0000-00-00 00:00:00.000000,1,important
117822,117838,楊東霖,NaN,NaN,1992-08-12,NaN,tony2013168@gmail.com,NaN,NaN,NaN,NaN,NaN,938877811,NaN,NaN,0000-00-00 00:00:00.000000,1,important

In [7]:
Personal_cell_drop=Personal_birthday.dropna(subset=['cell'])
Personal_cell_drop

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
4,5,陸大文,NaN,1.0,1954-05-26,NaN,kathyhung168@gmail.com,105,TW,A,松山區,台北市松山區復興北路99號3樓,918511513,02-25478801,A101653944\r,NaN,1,important
5,6,鄧淑珠,NaN,NaN,1962-05-10,NaN,terideng@scu.edu.tw,﻿100,TW,A,中正區,台北市中正區貴陽街一段56號東吳大學會計辦公室,918868586,NaN,A221625395,NaN,1,important
7,8,劉?偉,NaN,1.0,1955-08-17,NaN,tonyrush54@hotmail.com,106,TW,A,大安區,台北市大安區光武里大安路1段19巷33號2樓,933573363,NaN,A111033365,NaN,1,NaN
16,17,孫衡,NaN,0.0,1988-06-17,NaN,nadja_chen@yahoo.com.tw,105,TW,A,松山區,台北市松山區復興北路427巷25號6樓之3,0932-014-999,NaN,H221394347,NaN,1,important
17,18,姜延霖,NaN,NaN,1982-03-26,NaN,hokkaido_ariea@yahoo.com.tw,114,TW,A,內湖區,台北市內湖區紫陽里文德路210巷30弄57號5樓,919384748,NaN,A126249268,NaN,1,important
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117815,117831,徐寶華,NaN,0.0,1957-10-10,NaN,tony_ub@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,937423570,NaN,E202144315,0000-00-00 00:00:00.000000,1,important
117816,117832,張源鈺,NaN,1.0,1983-01-18,NaN,chefon23@gmail.com,NaN,NaN,NaN,NaN,NaN,975032174,NaN,L123577611,0000-00-00 00:00:00.000000,1,important
117817,117833,張俊林,NaN,NaN,1986-02-13,NaN,blackchon@gmail.com,NaN,MO,澳門,NaN,澳門,+853 62939138,NaN,MA0296808,0000-00-00 00:00:00.000000,1,important
117818,117834,吳羽柔,NaN,0.0,1988-03-05,NaN,skfbl35@gmail.com,111,TW,A,士林區,台北市士林區臨溪路70號東吳大學兩岸事務中心,933397762,NaN,D222332650,0000-00-00 00:00:00.000000,1,important
117822,117838,楊東霖,NaN,NaN,1992-08-12,NaN,tony2013168@gmail.com,NaN,NaN,NaN,NaN,NaN,938877811,NaN,NaN,0000-00-00 00:00:00.000000,1,important

In [8]:
Personal_cell_drop.count()

id           22090
zh_name      22090
en_name      19430
gender         636
birthday     22090
age              9
email        21642
zip_code     21474
region       21964
county       21495
district     20866
address      21952
cell         22090
tele          3964
id_num         486
last_edit      441
bye          22090
note          3554
dtype: int64

In [9]:
Personal_cell_dup_drop=Personal_cell_drop.drop_duplicates(subset=['cell']).replace({'\r':''},regex=True)
Personal_cell_dup_drop

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
4,5,陸大文,NaN,1.0,1954-05-26,NaN,kathyhung168@gmail.com,105,TW,A,松山區,台北市松山區復興北路99號3樓,918511513,02-25478801,A101653944,NaN,1,important
5,6,鄧淑珠,NaN,NaN,1962-05-10,NaN,terideng@scu.edu.tw,﻿100,TW,A,中正區,台北市中正區貴陽街一段56號東吳大學會計辦公室,918868586,NaN,A221625395,NaN,1,important
7,8,劉?偉,NaN,1.0,1955-08-17,NaN,tonyrush54@hotmail.com,106,TW,A,大安區,台北市大安區光武里大安路1段19巷33號2樓,933573363,NaN,A111033365,NaN,1,NaN
16,17,孫衡,NaN,0.0,1988-06-17,NaN,nadja_chen@yahoo.com.tw,105,TW,A,松山區,台北市松山區復興北路427巷25號6樓之3,0932-014-999,NaN,H221394347,NaN,1,important
17,18,姜延霖,NaN,NaN,1982-03-26,NaN,hokkaido_ariea@yahoo.com.tw,114,TW,A,內湖區,台北市內湖區紫陽里文德路210巷30弄57號5樓,919384748,NaN,A126249268,NaN,1,important
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117807,117823,黃俊寅,NaN,1.0,1962-05-02,NaN,j33huang@gmail.com,242,TW,F,新莊區,新北市新莊區龍安路12號2樓之1,911298165,NaN,A121556624,0000-00-00 00:00:00.000000,1,important
117815,117831,徐寶華,NaN,0.0,1957-10-10,NaN,tony_ub@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,937423570,NaN,E202144315,0000-00-00 00:00:00.000000,1,important
117816,117832,張源鈺,NaN,1.0,1983-01-18,NaN,chefon23@gmail.com,NaN,NaN,NaN,NaN,NaN,975032174,NaN,L123577611,0000-00-00 00:00:00.000000,1,important
117817,117833,張俊林,NaN,NaN,1986-02-13,NaN,blackchon@gmail.com,NaN,MO,澳門,NaN,澳門,+853 62939138,NaN,MA0296808,0000-00-00 00:00:00.000000,1,important
117822,117838,楊東霖,NaN,NaN,1992-08-12,NaN,tony2013168@gmail.com,NaN,NaN,NaN,NaN,NaN,938877811,NaN,NaN,0000-00-00 00:00:00.000000,1,important

In [10]:
Personal_cell_dup_drop.count()

id           21759
zh_name      21759
en_name      19248
gender         618
birthday     21759
age              9
email        21347
zip_code     21162
region       21643
county       21182
district     20556
address      21632
cell         21759
tele          3819
id_num         471
last_edit      338
bye          21759
note          3521
dtype: int64

In [16]:
Personal_cell_dup_drop.to_csv('2022-01-04_birthday.csv',encoding='utf-8-sig')

In [11]:
Personal_birthday_email=Personal_birthday.dropna(subset=['email'])
Personal_birthday_email.count()

id           23819
zh_name      23819
en_name      21060
gender         635
birthday     23819
age             10
email        23819
zip_code     23185
region       23699
county       23206
district     22515
address      23688
cell         21642
tele          4139
id_num         463
last_edit      404
bye          23819
note          3690
dtype: int64

In [12]:
Personal_birthday_email_duplicated=Personal_birthday_email.drop_duplicates(subset=['email']).replace({'\r':''},regex=True)
Personal_birthday_email_duplicated.count()

id           23565
zh_name      23565
en_name      20898
gender         611
birthday     23565
age             10
email        23565
zip_code     22954
region       23464
county       22974
district     22283
address      23453
cell         21407
tele          4061
id_num         441
last_edit      372
bye          23565
note          3658
dtype: int64

In [21]:
Personal_birthday_email_duplicated.to_csv('2022-01-04_birthday_email.csv',encoding='utf-8-sig')

In [13]:
#Practice

Personal_birthday_email_duplicated.head()

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
4,5,陸大文,NaN,1.0,1954-05-26,NaN,kathyhung168@gmail.com,105,TW,A,松山區,台北市松山區復興北路99號3樓,918511513,02-25478801,A101653944,NaN,1,important
5,6,鄧淑珠,NaN,NaN,1962-05-10,NaN,terideng@scu.edu.tw,﻿100,TW,A,中正區,台北市中正區貴陽街一段56號東吳大學會計辦公室,918868586,NaN,A221625395,NaN,1,important
7,8,劉?偉,NaN,1.0,1955-08-17,NaN,tonyrush54@hotmail.com,106,TW,A,大安區,台北市大安區光武里大安路1段19巷33號2樓,933573363,NaN,A111033365,NaN,1,NaN
16,17,孫衡,NaN,0.0,1988-06-17,NaN,nadja_chen@yahoo.com.tw,105,TW,A,松山區,台北市松山區復興北路427巷25號6樓之3,0932-014-999,NaN,H221394347,NaN,1,important
17,18,姜延霖,NaN,NaN,1982-03-26,NaN,hokkaido_ariea@yahoo.com.tw,114,TW,A,內湖區,台北市內湖區紫陽里文德路210巷30弄57號5樓,919384748,NaN,A126249268,NaN,1,important

In [ ]:
Personal_birthday_email_duplicated=Personal_birthday_email_duplicated.loc[1,:]