In [3]:
import pandas as pd
import numpy as np

In [5]:
table_1251_1500=pd.read_csv('/Users/humphreyshen/Desktop/2021 Database Project/003數據預處理/2000筆活動資料植入ID工作/personal正式上傳/1251-1500_withid.csv')
table_1251_1500.head()

,id,zh_name,年級,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num
0,22845,褚阮宗澤,81,NaN,NaN,NaN,NaN,joerita@fpcc.com.tw,NaN,NaN,NaN,NaN,NaN,0933-165-324,NaN,A121812985
1,22854,鍾智耀,81,NaN,NaN,NaN,NaN,Yao0931232268@gmail.com,NaN,NaN,NaN,NaN,NaN,0931-232-268,NaN,N120249363
2,24342,趙智勇,82,NaN,NaN,NaN,NaN,JJY@YAHORNG.COM,NaN,NaN,NaN,NaN,NaN,0936-385-975,NaN,D120896293
3,25858,謝文馨,83,NaN,NaN,NaN,NaN,cindy@premiercpa.com.tw,NaN,NaN,NaN,NaN,NaN,915293955,NaN,NaN
4,27605,范光俊,84,NaN,NaN,NaN,NaN,gavinfann@gmail.com,NaN,NaN,NaN,NaN,NaN,0932-939-303,NaN,J120987212

In [6]:
table_1501_1750=pd.read_csv('/Users/humphreyshen/Desktop/2021 Database Project/003數據預處理/2000筆活動資料植入ID工作/personal正式上傳/1501-1750_withid.csv')
table_1501_1750.head()

,id,zh_name,年級,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
0,733,黃郁婷,NaN,NaN,0,1987/11/30,NaN,1412388@gmail.com,NaN,NaN,NaN,NaN,NaN,0973-731698,NaN,A227724495,NaN,NaN,NaN
1,2053,吳怡萱,NaN,NaN,NaN,NaN,NaN,wuyisuan@scu.edu.tw,NaN,NaN,NaN,NaN,NaN,0953-891206,NaN,NaN,NaN,NaN,NaN
2,2391,王澤民,106.0,NaN,NaN,NaN,NaN,wangtzermin@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,0932-253824,NaN,NaN,NaN,NaN,NaN
3,2451,葉衛廷,NaN,NaN,NaN,1986/11/14,NaN,thor_gg@hotmail.com,NaN,NaN,NaN,NaN,NaN,0952-471006,NaN,NaN,NaN,NaN,NaN
4,2735,詹無愁,NaN,NaN,NaN,NaN,NaN,fn6012g91@hotmail.com,NaN,NaN,NaN,NaN,NaN,0916-368295,NaN,NaN,NaN,NaN,NaN

In [8]:
table_1751_1799=pd.read_csv('/Users/humphreyshen/Desktop/2021 Database Project/003數據預處理/2000筆活動資料植入ID工作/personal正式上傳/1751-1799_withid.csv')
table_1751_1799.head()

,id,zh_name,年級,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num
0,113687,蔡惠惠,NaN,NaN,NaN,NaN,NaN,joanna12099@gmail.com,NaN,NaN,NaN,NaN,NaN,916408773.0,NaN,NaN
1,102510,薛琪,NaN,NaN,NaN,NaN,NaN,z54782003@gmail.com,NaN,NaN,NaN,NaN,NaN,912064648.0,NaN,F228335291
2,116419,許昱智,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,989509925.0,NaN,NaN
3,117006,賴欣宜,NaN,NaN,NaN,NaN,NaN,hie123t@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,909374984.0,NaN,NaN
4,103536,郭冠頡,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
concating=pd.concat([table_1251_1500,table_1501_1750,table_1751_1799])
concating

,id,zh_name,年級,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
0,22845,褚阮宗澤,81,NaN,NaN,NaN,NaN,joerita@fpcc.com.tw,NaN,NaN,NaN,NaN,NaN,0933-165-324,NaN,A121812985,NaN,NaN,NaN
1,22854,鍾智耀,81,NaN,NaN,NaN,NaN,Yao0931232268@gmail.com,NaN,NaN,NaN,NaN,NaN,0931-232-268,NaN,N120249363,NaN,NaN,NaN
2,24342,趙智勇,82,NaN,NaN,NaN,NaN,JJY@YAHORNG.COM,NaN,NaN,NaN,NaN,NaN,0936-385-975,NaN,D120896293,NaN,NaN,NaN
3,25858,謝文馨,83,NaN,NaN,NaN,NaN,cindy@premiercpa.com.tw,NaN,NaN,NaN,NaN,NaN,915293955,NaN,NaN,NaN,NaN,NaN
4,27605,范光俊,84,NaN,NaN,NaN,NaN,gavinfann@gmail.com,NaN,NaN,NaN,NaN,NaN,0932-939-303,NaN,J120987212,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,117006,賴欣宜,NaN,NaN,NaN,NaN,NaN,hie123t@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,909374984.0,NaN,NaN,NaN,NaN,NaN
4,103536,郭冠頡,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,110351,郭家馨,NaN,NaN,NaN,NaN,NaN,c60123@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,966476505.0,NaN,NaN,NaN,NaN,NaN
6,116978,黃思堯,NaN,NaN,NaN,NaN,NaN,siyao39@gmail.com,NaN,NaN,NaN,NaN,NaN,908208909.0,NaN,NaN,NaN,NaN,NaN
7,110336,黃正文,NaN,NaN,NaN,NaN,NaN,egg80729@gmail.com,NaN,NaN,NaN,NaN,NaN,924133811.0,NaN,NaN,NaN,NaN,NaN

In [11]:
values = { "bye": 1}
fillna=concating.fillna(value=values)
fillna

,id,zh_name,年級,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
0,22845,褚阮宗澤,81,NaN,NaN,NaN,NaN,joerita@fpcc.com.tw,NaN,NaN,NaN,NaN,NaN,0933-165-324,NaN,A121812985,NaN,1.0,NaN
1,22854,鍾智耀,81,NaN,NaN,NaN,NaN,Yao0931232268@gmail.com,NaN,NaN,NaN,NaN,NaN,0931-232-268,NaN,N120249363,NaN,1.0,NaN
2,24342,趙智勇,82,NaN,NaN,NaN,NaN,JJY@YAHORNG.COM,NaN,NaN,NaN,NaN,NaN,0936-385-975,NaN,D120896293,NaN,1.0,NaN
3,25858,謝文馨,83,NaN,NaN,NaN,NaN,cindy@premiercpa.com.tw,NaN,NaN,NaN,NaN,NaN,915293955,NaN,NaN,NaN,1.0,NaN
4,27605,范光俊,84,NaN,NaN,NaN,NaN,gavinfann@gmail.com,NaN,NaN,NaN,NaN,NaN,0932-939-303,NaN,J120987212,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,117006,賴欣宜,NaN,NaN,NaN,NaN,NaN,hie123t@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,909374984.0,NaN,NaN,NaN,1.0,NaN
4,103536,郭冠頡,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
5,110351,郭家馨,NaN,NaN,NaN,NaN,NaN,c60123@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,966476505.0,NaN,NaN,NaN,1.0,NaN
6,116978,黃思堯,NaN,NaN,NaN,NaN,NaN,siyao39@gmail.com,NaN,NaN,NaN,NaN,NaN,908208909.0,NaN,NaN,NaN,1.0,NaN
7,110336,黃正文,NaN,NaN,NaN,NaN,NaN,egg80729@gmail.com,NaN,NaN,NaN,NaN,NaN,924133811.0,NaN,NaN,NaN,1.0,NaN

In [13]:
final=fillna.loc[:,['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note']]
final

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
0,22845,褚阮宗澤,NaN,NaN,NaN,NaN,joerita@fpcc.com.tw,NaN,NaN,NaN,NaN,NaN,0933-165-324,NaN,A121812985,NaN,1.0,NaN
1,22854,鍾智耀,NaN,NaN,NaN,NaN,Yao0931232268@gmail.com,NaN,NaN,NaN,NaN,NaN,0931-232-268,NaN,N120249363,NaN,1.0,NaN
2,24342,趙智勇,NaN,NaN,NaN,NaN,JJY@YAHORNG.COM,NaN,NaN,NaN,NaN,NaN,0936-385-975,NaN,D120896293,NaN,1.0,NaN
3,25858,謝文馨,NaN,NaN,NaN,NaN,cindy@premiercpa.com.tw,NaN,NaN,NaN,NaN,NaN,915293955,NaN,NaN,NaN,1.0,NaN
4,27605,范光俊,NaN,NaN,NaN,NaN,gavinfann@gmail.com,NaN,NaN,NaN,NaN,NaN,0932-939-303,NaN,J120987212,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,117006,賴欣宜,NaN,NaN,NaN,NaN,hie123t@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,909374984.0,NaN,NaN,NaN,1.0,NaN
4,103536,郭冠頡,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
5,110351,郭家馨,NaN,NaN,NaN,NaN,c60123@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,966476505.0,NaN,NaN,NaN,1.0,NaN
6,116978,黃思堯,NaN,NaN,NaN,NaN,siyao39@gmail.com,NaN,NaN,NaN,NaN,NaN,908208909.0,NaN,NaN,NaN,1.0,NaN
7,110336,黃正文,NaN,NaN,NaN,NaN,egg80729@gmail.com,NaN,NaN,NaN,NaN,NaN,924133811.0,NaN,NaN,NaN,1.0,NaN

In [14]:
final.to_csv('1251-1799.csv',encoding='utf-8-sig')