In [1]:
import pandas as pd 
import numpy as np

In [4]:
table1=pd.read_csv('/Users/humphreyshen/Desktop/2021 Database Project/003數據預處理/2000筆活動資料植入ID工作/原始csv檔區/1501-1750(補齊).csv')
table1

,id,zh_name,年級,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
0,733.0,黃郁婷,NaN,NaN,0.0,1987/11/30,NaN,1412388@gmail.com,NaN,NaN,NaN,NaN,NaN,0973-731698,NaN,A227724495,NaN,NaN,NaN
1,2053.0,吳怡萱,NaN,NaN,NaN,NaN,NaN,wuyisuan@scu.edu.tw,NaN,NaN,NaN,NaN,NaN,0953-891206,NaN,NaN,NaN,NaN,NaN
2,2391.0,王澤民,106.0,NaN,NaN,NaN,NaN,wangtzermin@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,0932-253824,NaN,NaN,NaN,NaN,NaN
3,2451.0,葉衛廷,NaN,NaN,NaN,1986/11/14,NaN,thor_gg@hotmail.com,NaN,NaN,NaN,NaN,NaN,0952-471006,NaN,NaN,NaN,NaN,NaN
4,2735.0,詹無愁,NaN,NaN,NaN,NaN,NaN,fn6012g91@hotmail.com,NaN,NaN,NaN,NaN,NaN,0916-368295,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,NaN,劉宇真,NaN,NaN,NaN,NaN,NaN,jane304160@hotmail.com,NaN,TW,台北市,士林區,台北市士林區東山路130巷2號4樓,0919-304160,NaN,NaN,NaN,NaN,NaN
130,NaN,劉惠美,NaN,NaN,0.0,1959/8/4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0933-158765,NaN,C220650172,NaN,NaN,NaN
131,NaN,鄭景徽,NaN,NaN,1.0,1982/4/6,NaN,microcjo@gmail.com,NaN,TW,彰化縣,田中鎮,彰化縣田中鎮中州路二段751號,0932-697731,NaN,P122978877,NaN,NaN,NaN
132,NaN,駱昱菘,NaN,NaN,NaN,1992/10/22,NaN,pottorlo@gmail.com,NaN,TW,台北市,中正區,台北市中正區貴陽街一段56號 會計系,0988-585851,NaN,NaN,NaN,NaN,NaN
133,NaN,羅仕宇,NaN,NaN,NaN,1992/5/29,NaN,v874302001@gmail.com,NaN,TW,新北市,新店區,新北市新店區北新路二段182號,0975-270836,NaN,NaN,NaN,NaN,NaN

In [12]:
tableid=table1.dropna(subset=['id'])
tableid

,id,zh_name,年級,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
0,733.0,黃郁婷,NaN,NaN,0.0,1987/11/30,NaN,1412388@gmail.com,NaN,NaN,NaN,NaN,NaN,0973-731698,NaN,A227724495,NaN,NaN,NaN
1,2053.0,吳怡萱,NaN,NaN,NaN,NaN,NaN,wuyisuan@scu.edu.tw,NaN,NaN,NaN,NaN,NaN,0953-891206,NaN,NaN,NaN,NaN,NaN
2,2391.0,王澤民,106.0,NaN,NaN,NaN,NaN,wangtzermin@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,0932-253824,NaN,NaN,NaN,NaN,NaN
3,2451.0,葉衛廷,NaN,NaN,NaN,1986/11/14,NaN,thor_gg@hotmail.com,NaN,NaN,NaN,NaN,NaN,0952-471006,NaN,NaN,NaN,NaN,NaN
4,2735.0,詹無愁,NaN,NaN,NaN,NaN,NaN,fn6012g91@hotmail.com,NaN,NaN,NaN,NaN,NaN,0916-368295,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,101950.0,張湘茹,NaN,NaN,0.0,1993/6/12,NaN,xiangenius@gmail.com,NaN,TW,新北市,中和區,新北市中和區保健路106巷4弄13號1樓,0926-253928,02-89419024,NaN,NaN,NaN,NaN
105,110321.0,王怡韻,NaN,NaN,0.0,1963/8/11,NaN,yun317926@yahoo.com.tw,NaN,NaN,NaN,NaN,,0938-335241,NaN,NaN,NaN,NaN,NaN
106,110330.0,林旻憶,NaN,NaN,NaN,NaN,NaN,y8381@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,0926-091360,NaN,NaN,NaN,NaN,NaN
107,110335.0,楊秉鈞,NaN,NaN,NaN,NaN,NaN,yangbinjin@hotmail.com.tw,NaN,NaN,NaN,NaN,NaN,0981-203363,NaN,NaN,NaN,NaN,NaN
108,113700.0,廖淑英,NaN,NaN,NaN,1986/10/18,NaN,shuying1018@gmail.com,NaN,NaN,NaN,NaN,NaN,0905-800008,NaN,NaN,NaN,NaN,NaN

In [23]:
table_original=pd.read_csv('/Users/humphreyshen/Desktop/2021 Database Project/003數據預處理/2000筆活動資料植入ID工作/原始csv檔區/1501-1750(原始).csv')
table_original_select=table_original.loc[:,['id','zh_name','畢業學系','年級','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num']]
table_original_select

,id,zh_name,畢業學系,年級,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num
0,10425.0,何基丞,歷史系,69.0,NaN,NaN,NaN,NaN,jim.ho@coremaxcorp.com,NaN,TW,新竹縣,湖口鄉,新竹縣湖口鄉文化路11號,0931-093148,NaN,NaN
1,14054.0,杜碧芳,歷史系,74.0,NaN,0.0,1962/10/16,NaN,dubefa2005@yahoo.com.tw,NaN,TW,台北市,北投區,台北市北投區致遠一路二段86巷5號3樓之一,0916-855662,NaN,A222930797
2,16802.0,盧瑞卿,歷史系,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,吳志偉,歷史系,85.0,NaN,NaN,NaN,NaN,7r5729@gmail.com,NaN,NaN,NaN,NaN,NaN,0930-680688,NaN,NaN
4,NaN,蔡豐任,歷史系,94.0,NaN,NaN,1988/7/19,NaN,Yamamotokasumi@gmail.com,NaN,NaN,NaN,NaN,NaN,0908-617154,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
concat=pd.concat([tableid,table_original])
concat

,id,zh_name,年級,en_name,gender,birthday,age,email,zip_code,region,...,tele,id_num,last_edit,bye,note,作業編號,畢業學系,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,733.0,黃郁婷,NaN,NaN,0.0,1987/11/30,NaN,1412388@gmail.com,NaN,NaN,...,NaN,A227724495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2053.0,吳怡萱,NaN,NaN,NaN,NaN,NaN,wuyisuan@scu.edu.tw,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2391.0,王澤民,106.0,NaN,NaN,NaN,NaN,wangtzermin@yahoo.com.tw,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2451.0,葉衛廷,NaN,NaN,NaN,1986/11/14,NaN,thor_gg@hotmail.com,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2735.0,詹無愁,NaN,NaN,NaN,NaN,NaN,fn6012g91@hotmail.com,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
concat_select=concat.loc[:,['id','zh_name','畢業學系','年級','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','note']]
concat_select

,id,zh_name,畢業學系,年級,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,note
0,733.0,黃郁婷,NaN,NaN,NaN,0.0,1987/11/30,NaN,1412388@gmail.com,NaN,NaN,NaN,NaN,NaN,0973-731698,NaN,A227724495,NaN
1,2053.0,吳怡萱,NaN,NaN,NaN,NaN,NaN,NaN,wuyisuan@scu.edu.tw,NaN,NaN,NaN,NaN,NaN,0953-891206,NaN,NaN,NaN
2,2391.0,王澤民,NaN,106.0,NaN,NaN,NaN,NaN,wangtzermin@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,0932-253824,NaN,NaN,NaN
3,2451.0,葉衛廷,NaN,NaN,NaN,NaN,1986/11/14,NaN,thor_gg@hotmail.com,NaN,NaN,NaN,NaN,NaN,0952-471006,NaN,NaN,NaN
4,2735.0,詹無愁,NaN,NaN,NaN,NaN,NaN,NaN,fn6012g91@hotmail.com,NaN,NaN,NaN,NaN,NaN,0916-368295,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
concatdrop_zh_name=concat_select.dropna(subset=['zh_name'])
concatdrop_zh_name

,id,zh_name,畢業學系,年級,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,note
0,733.0,黃郁婷,NaN,NaN,NaN,0.0,1987/11/30,NaN,1412388@gmail.com,NaN,NaN,NaN,NaN,NaN,0973-731698,NaN,A227724495,NaN
1,2053.0,吳怡萱,NaN,NaN,NaN,NaN,NaN,NaN,wuyisuan@scu.edu.tw,NaN,NaN,NaN,NaN,NaN,0953-891206,NaN,NaN,NaN
2,2391.0,王澤民,NaN,106.0,NaN,NaN,NaN,NaN,wangtzermin@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,0932-253824,NaN,NaN,NaN
3,2451.0,葉衛廷,NaN,NaN,NaN,NaN,1986/11/14,NaN,thor_gg@hotmail.com,NaN,NaN,NaN,NaN,NaN,0952-471006,NaN,NaN,NaN
4,2735.0,詹無愁,NaN,NaN,NaN,NaN,NaN,NaN,fn6012g91@hotmail.com,NaN,NaN,NaN,NaN,NaN,0916-368295,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,NaN,盧令北,NaN,NaN,NaN,NaN,NaN,NaN,lulingp@gm.scu.edu.tw,NaN,NaN,NaN,NaN,NaN,0922-090757,NaN,NaN,NaN
246,NaN,盧俊賢,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,NaN,羅進誠,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,NaN,羅美理,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,NaN,莊媖琁,NaN,NaN,NaN,NaN,NaN,NaN,yhc33@scu.edu.tw,NaN,NaN,NaN,NaN,NaN,0911-259033,NaN,NaN,NaN

In [27]:
concatdropduplicate=concatdrop_zh_name.drop_duplicates(subset=['zh_name'],keep=False)
concatdropduplicate

,id,zh_name,畢業學系,年級,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,note
8,NaN,吳明娟,歷史系,108.0,NaN,NaN,1997/3/21,NaN,e22583@yahoo.com.tw,NaN,TW,高雄市,前金區,高雄市前金區成功一路296號,0975-227175,NaN,NaN,NaN
9,NaN,羅傑,歷史系,109.0,NaN,1.0,1998/3/1,NaN,roger87030122@gmail.com,NaN,NaN,NaN,NaN,NaN,0989-302666,NaN,A130214148,NaN
10,NaN,鍾翠雲,歷史系,80.0,NaN,NaN,NaN,NaN,laverte.tw@gmail.com,NaN,TW,新北市,汐止區,新北市汐止區大同路二段263號20F,0958-776809,NaN,NaN,NaN
11,NaN,黃峯彬,歷史系,81.0,NaN,1.0,1973/10/21,NaN,huangfengbin@yahoo.com.tw,NaN,TW,彰化縣,彰化市,彰化縣彰化市大埔路676號,0972-268990,NaN,N120329151,NaN
12,NaN,郭乃溱,歷史系,105.0,NaN,NaN,NaN,NaN,01112011@gm.scu.edu.tw,NaN,NaN,NaN,NaN,NaN,0916-497290,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,NaN,盧令北,NaN,NaN,NaN,NaN,NaN,NaN,lulingp@gm.scu.edu.tw,NaN,NaN,NaN,NaN,NaN,0922-090757,NaN,NaN,NaN
246,NaN,盧俊賢,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,NaN,羅進誠,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,NaN,羅美理,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,NaN,莊媖琁,NaN,NaN,NaN,NaN,NaN,NaN,yhc33@scu.edu.tw,NaN,NaN,NaN,NaN,NaN,0911-259033,NaN,NaN,NaN

In [28]:
concatdropduplicate.to_csv('ellen_modify-class.csv',encoding='utf-8-sig')