In [18]:
import pandas as pd
import numpy as np

table501_750=pd.read_csv('/Users/humphreyshen/Desktop/2021 Database Project/003數據預處理/2000筆植入ID/原始csv檔區/501-750.csv')
table501_750_select=table501_750.loc[:,['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num']]
table501_750_select

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num
0,NaN,李昶弘,NaN,1.0,1962/6/23,NaN,K7654321@scu.edu.tw,NaN,NaN,NaN,NaN,NaN,933112287,NaN,NaN
1,NaN,苗培榮,NaN,0.0,1965/11/9,NaN,miao@scu.edu.tw,NaN,NaN,NaN,NaN,NaN,921897766,NaN,NaN
2,NaN,陳學翰,NaN,1.0,2002/10/22,NaN,zchen2775@gmail.com,333.0,TW,桃園市,龜山區,民生北路一段60號,NaN,NaN,H125939519
3,9930.0,賴錦雀,NaN,0.0,NaN,NaN,jiinlai@scu.edu.tw,NaN,NaN,NaN,NaN,NaN,952849678,NaN,NaN
4,70060.0,張晉銓,NaN,1.0,NaN,NaN,fantasy99122260@hotmail.com,950.0,TW,台東縣,台東市,貴陽街６１巷２５弄１１號,932626029,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,111285.0,陳俞璇,NaN,0.0,1997/4/26,NaN,nancy862626@gmail.com,NaN,NaN,NaN,NaN,NaN,970696142,NaN,A227936628
244,111290.0,張祐瑋,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,933913659,NaN,NaN
245,111273.0,沈佳妍,NaN,0.0,1996/12/19,NaN,jiayan19961219@gmail.com,NaN,NaN,NaN,NaN,NaN,978098398,NaN,G222028967
246,104484.0,王儀瑄,NaN,NaN,1995/5/4,NaN,dr963852@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,918012334,NaN,NaN
247,13343.0,鄒淑英,"Su-Ying, Tsou",0.0,1961/1/5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0921-543-545,NaN,U220305793

In [31]:
table251_500=pd.read_csv('/Users/humphreyshen/Desktop/2021 Database Project/003數據預處理/2000筆植入ID/personal正式上傳/251-500_clean.csv')
table251_500_select=table251_500.loc[:,['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num']]
table251_500_select

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num
0,73628.0,李淑芳,NaN,0.0,NaN,NaN,ceo0520@gmail.com,NaN,NaN,NaN,NaN,NaN,0911-780352,NaN,NaN
1,17024.0,王孟鈺,NaN,NaN,1966/5/1,NaN,monmom0501@gmail.com,NaN,NaN,NaN,NaN,NaN,930942336,NaN,NaN
2,96605.0,陳沛玲,NaN,0.0,1971/8/21,NaN,Steffi1545@gmail.com,NaN,NaN,NaN,NaN,NaN,0921-988-055,NaN,G220137169
3,28827.0,陳琬菁,NaN,0.0,1974/10/28,NaN,wanching2002@gmail.com,251.0,TW,新北市,淡水區,新北市淡水區濱海路一段306巷9弄31號13樓,952403310,NaN,B220662386
4,47497.0,李筱筠,NaN,NaN,NaN,NaN,future049@gmail.com,NaN,NaN,NaN,NaN,NaN,988652039,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,103679.0,徐先駒,NaN,NaN,NaN,NaN,whatkid50@gmail.com,338.0,TW,桃園市,蘆竹區,桃園市蘆竹區大正街9號10樓,0972608455,NaN,NaN
185,113872.0,蔡郁銘,NaN,1.0,1993/12/23,NaN,corncorn54@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,0916302119,NaN,NaN
186,93449.0,簡嘉進,NaN,1.0,1976/12/26,NaN,jack_s_box@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,910672149,NaN,Q122497850
187,110682.0,許志能,"HSU, CHIH-NENG",1.0,1970/7/31,NaN,jhsu60@yahoo.com.tw,235.0,TW,新北市,中和區,新北市中和區中興街１３２巷３０號,0931-052072,NaN,F121472940
188,80962.0,張鑑鵬,NaN,1.0,1972/12/30,NaN,mars_zhang@carelink.com.tw,NaN,NaN,NaN,NaN,NaN,0935-866-700,NaN,Q121069325

In [20]:
table751_1000=pd.read_csv('/Users/humphreyshen/Desktop/2021 Database Project/003數據預處理/2000筆植入ID/原始csv檔區/751-1000.csv')
table751_1000_select=table751_1000.loc[:,['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num']]
table751_1000_select

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num
0,67193.0,楊雅鈞,NaN,NaN,1990/11/07,NaN,z0751983162@gmail.com,261.0,TW,宜蘭縣,頭城鎮,宜蘭縣頭城鎮石城里濱海路七段59巷10號,922756960,NaN,NaN
1,97923.0,吳雅集,NaN,0.0,1991/03/10,NaN,kikilove0310@hotmail.com,112.0,TW,台北市,北投區,台北市北投區自強街１４鄰５３之１號５樓,921056723,NaN,NaN
2,101171.0,劉曜齊,"LIOU, YAW-CHYI",NaN,1994/02/21,NaN,lucas.liu@cgmic.com.tw,111.0,TW,台北市,士林區,台北市士林區東山路１３２號４樓,988089726,NaN,NaN
3,101248.0,黃廷宇,"HUANG, TING-YU",1.0,1994/04/02,NaN,y66811@gmail.com,350.0,TW,苗栗縣,竹南鎮,苗栗縣竹南鎮龍山里１鄰龍文街９巷１８號,905739919,NaN,K122611598
4,111174.0,邱鈺婷,"QIU, YU-TING",0.0,1996/12/04,NaN,s982125353@gmail.com,247.0,TW,新北市,蘆洲區,新北市蘆洲區成功里永康街２巷３１號６樓,934226503,NaN,F229231354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,33319.0,楊斌義,NaN,NaN,1976/07/17,NaN,binyiyang@gmail.com,242.0,TW,新北市,新莊區,新北市新莊區新莊路350號,988341451,NaN,NaN
246,91396.0,李承宗,NaN,1.0,1981/07/17,NaN,chengzong_li@fglife.com.tw,110.0,TW,台北市,信義區,台北市信義區莊敬路168號14樓,963195723,NaN,E123288945
247,91018.0,周彥廷,NaN,1.0,1982/11/09,NaN,beibei750405@gmail.com,NaN,TW,台北市,NaN,台北市民生東路一段72號7樓之五,958538980,NaN,F125798301
248,91021.0,陳岳駒,NaN,NaN,1983/01/07,NaN,geeee0107@gmail.com,110.0,TW,台北市,信義區,台北市信義區信義路五段150巷2號4F,952951169,NaN,NaN
249,91020.0,鄭弘偉,NaN,1.0,1983/07/20,NaN,hungwei.cheng@tigf.org.tw,100.0,TW,台北市,中正區,台北市中正區忠孝東路二段123號7樓,919630908,NaN,R123421495

In [21]:
table1001_1250=pd.read_csv('/Users/humphreyshen/Desktop/2021 Database Project/003數據預處理/2000筆植入ID/原始csv檔區/1001-1250.csv')
table1001_1250_select=table1001_1250.loc[:,['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num']]
table1001_1250_select

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num
0,NaN,趙詩華,NaN,1.0,1986/05/16,NaN,dourbest0516@gmail.com,NaN,TW,台北市,松山區,台北市松山區民生東路三段130巷18弄2號3樓,933091073,NaN,C121208321
1,NaN,沈柏楷,NaN,1.0,1986/06/02,NaN,Tony-PK.Shen@NANSHAN.com.tw,NaN,TW,台北市,信義區,台北市信義區莊敬路168號14樓,956075602,NaN,F126708310
2,NaN,洪欣如,NaN,NaN,1986/08/13,NaN,togoily@gmail.com,NaN,TW,新北市,汐止區,新北市汐止區新昌路66號5樓,937426132,NaN,NaN
3,NaN,陳哲寬,NaN,NaN,1987/09/07,NaN,jhekuan@gmail.com,NaN,TW,台北市,松山區,台北市松山區南京東路113巷6弄9號3樓,955515459,NaN,NaN
4,NaN,李珮慈,NaN,0.0,1988/02/12,NaN,Tanya-PT.Lee@NANSHAN.com.tw,NaN,TW,台北市,信義區,台北市信義區莊敬路168號14樓,955556248,NaN,A228820174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,9518,蔡鴻賢,NaN,1.0,1955/07/05,NaN,Paul@isurvey.com.tw,NaN,NaN,NaN,NaN,NaN,933919462,NaN,R103163670
239,NaN,陳惠,NaN,NaN,NaN,NaN,shiheichen@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,963017020,NaN,NaN
240,73694,高妙玲,NaN,NaN,NaN,NaN,merilyn.kao@meifu.com.tw,NaN,NaN,NaN,NaN,NaN,918013330,NaN,NaN
241,14490,章本斐,NaN,0.0,NaN,NaN,angelajang@gmail.com,NaN,NaN,NaN,NaN,NaN,905223089,NaN,NaN
242,21380,陳澤輝,NaN,1.0,1968/11/29,NaN,jeffcth@hotmail.com,NaN,NaN,NaN,NaN,NaN,939879132,NaN,R120708093

In [33]:
concating_251_1250=pd.concat([table251_500_select,table501_750_select,table751_1000_select,table1001_1250_select])
concating_251_1250

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num
0,73628.0,李淑芳,NaN,0.0,NaN,NaN,ceo0520@gmail.com,NaN,NaN,NaN,NaN,NaN,0911-780352,NaN,NaN
1,17024.0,王孟鈺,NaN,NaN,1966/5/1,NaN,monmom0501@gmail.com,NaN,NaN,NaN,NaN,NaN,930942336,NaN,NaN
2,96605.0,陳沛玲,NaN,0.0,1971/8/21,NaN,Steffi1545@gmail.com,NaN,NaN,NaN,NaN,NaN,0921-988-055,NaN,G220137169
3,28827.0,陳琬菁,NaN,0.0,1974/10/28,NaN,wanching2002@gmail.com,251.0,TW,新北市,淡水區,新北市淡水區濱海路一段306巷9弄31號13樓,952403310,NaN,B220662386
4,47497.0,李筱筠,NaN,NaN,NaN,NaN,future049@gmail.com,NaN,NaN,NaN,NaN,NaN,988652039,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,9518,蔡鴻賢,NaN,1.0,1955/07/05,NaN,Paul@isurvey.com.tw,NaN,NaN,NaN,NaN,NaN,933919462,NaN,R103163670
239,NaN,陳惠,NaN,NaN,NaN,NaN,shiheichen@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,963017020,NaN,NaN
240,73694,高妙玲,NaN,NaN,NaN,NaN,merilyn.kao@meifu.com.tw,NaN,NaN,NaN,NaN,NaN,918013330,NaN,NaN
241,14490,章本斐,NaN,0.0,NaN,NaN,angelajang@gmail.com,NaN,NaN,NaN,NaN,NaN,905223089,NaN,NaN
242,21380,陳澤輝,NaN,1.0,1968/11/29,NaN,jeffcth@hotmail.com,NaN,NaN,NaN,NaN,NaN,939879132,NaN,R120708093

In [34]:
final_id_251_1250=concating_251_1250.dropna(subset=['id'])
final_id_251_1250

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num
0,73628.0,李淑芳,NaN,0.0,NaN,NaN,ceo0520@gmail.com,NaN,NaN,NaN,NaN,NaN,0911-780352,NaN,NaN
1,17024.0,王孟鈺,NaN,NaN,1966/5/1,NaN,monmom0501@gmail.com,NaN,NaN,NaN,NaN,NaN,930942336,NaN,NaN
2,96605.0,陳沛玲,NaN,0.0,1971/8/21,NaN,Steffi1545@gmail.com,NaN,NaN,NaN,NaN,NaN,0921-988-055,NaN,G220137169
3,28827.0,陳琬菁,NaN,0.0,1974/10/28,NaN,wanching2002@gmail.com,251.0,TW,新北市,淡水區,新北市淡水區濱海路一段306巷9弄31號13樓,952403310,NaN,B220662386
4,47497.0,李筱筠,NaN,NaN,NaN,NaN,future049@gmail.com,NaN,NaN,NaN,NaN,NaN,988652039,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,5,陸大文,NaN,1.0,1954/05/26,NaN,kathyhung168@gmail.com,105.0,TW,台北市,松山區,台北市松山區復興北路99號3樓,918511513,NaN,A101653944
238,9518,蔡鴻賢,NaN,1.0,1955/07/05,NaN,Paul@isurvey.com.tw,NaN,NaN,NaN,NaN,NaN,933919462,NaN,R103163670
240,73694,高妙玲,NaN,NaN,NaN,NaN,merilyn.kao@meifu.com.tw,NaN,NaN,NaN,NaN,NaN,918013330,NaN,NaN
241,14490,章本斐,NaN,0.0,NaN,NaN,angelajang@gmail.com,NaN,NaN,NaN,NaN,NaN,905223089,NaN,NaN
242,21380,陳澤輝,NaN,1.0,1968/11/29,NaN,jeffcth@hotmail.com,NaN,NaN,NaN,NaN,NaN,939879132,NaN,R120708093

In [40]:
final_id_251_1250.to_csv('251-1250_clean.csv',encoding='utf-8-sig')

In [36]:
concating_251_1250_id_null_mask=concating_251_1250['id'].isnull()
concating_251_1250_idisnull=concating_251_1250[concating_251_1250_id_null_mask]
concating_251_1250_idisnull

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num
0,NaN,李昶弘,NaN,1.0,1962/6/23,NaN,K7654321@scu.edu.tw,NaN,NaN,NaN,NaN,NaN,933112287,NaN,NaN
1,NaN,苗培榮,NaN,0.0,1965/11/9,NaN,miao@scu.edu.tw,NaN,NaN,NaN,NaN,NaN,921897766,NaN,NaN
2,NaN,陳學翰,NaN,1.0,2002/10/22,NaN,zchen2775@gmail.com,333.0,TW,桃園市,龜山區,民生北路一段60號,NaN,NaN,H125939519
7,NaN,寧瑞祥,NaN,1.0,1962/7/6,NaN,ningroger@gmail.com,NaN,NaN,NaN,NaN,NaN,0910-076-868,NaN,A123424198
8,NaN,李鳳梧,NaN,NaN,NaN,NaN,felee708@gmail.com,NaN,NaN,NaN,NaN,NaN,932858785,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,NaN,林秀聰,NaN,0.0,1959/06/16,NaN,linshowsun19930413@gmail.com,106.0,TW,台北市,大安區,台北市大安區永康街52巷1號3樓,934185142,NaN,N220522994
215,NaN,張培誠,NaN,NaN,NaN,NaN,aa0984331238@gmail.com,NaN,NaN,NaN,NaN,NaN,984331238,NaN,NaN
219,NaN,林怡君,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,NaN,陳碧華,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,NaN,陳惠,NaN,NaN,NaN,NaN,shiheichen@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,963017020,NaN,NaN

In [38]:
concating_251_1250_idisnull.to_csv('251-1250_idnull.csv',encoding='utf-8-sig')